RewriteEngine On
#RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ public/redirect.html [L]


#RewriteRule ^$ public [L]

#RewriteCond %{REQUEST_URI} !^/public
#RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} !-f
#RewriteRule ^(.*[^/])$ drsbilleder/public/$1 [L,R=301,NC]

#RewriteRule !^public/ /public%{REQUEST_URI} [L]

#RewriteCond %{THE_REQUEST} ^GET\ /public/
#RewriteRule ^public/(.*) /$1 [L,R=301]
